//Color Variable
$color1: #EEEEEE;
$color2: #FFD369;
$color3: #393E46;
$color4: #1E2022;

.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}